body {
  font-family: "Raleway", sans-serif;
}

/* ФОТО */
.div {
  border: 1px solid grey;
  width: 300px;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
}
.card {
  position: relative;
  width: 300px;
  height: 400px;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 20px;
  color: white;
  background: linear-gradient(
    to left,
    rgb(221, 24, 24, 0.5),
    rgb(51, 51, 51, 0.5)
  );
  transform: translateX(100%);
  transition: transform 1000ms ease;
}
.card:hover .overlay {
  transform: translateX(-0.001%);
}
.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 2;
  text-align: center;
}
/* КНОПКА */
.btn {
  position: relative;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #e7e8d4;
  color: black;
  width: 200px;
  height: 70px;
  font-weight: 700;
  font-size: 20px;
  line-height: 2;
  transform: translateY(0);
  transition: 250ms;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 50px;
  margin-left: 50px;
}
.btn:hover {
  background-color: #f2d0d0;
}

.btn::after {
  content: "";
  width: 30px;
  height: 30px;
  margin-left: 5px;
  background-image: url(./image/sad.png);
  background-size: contain;
}
.btn:hover::after {
  transform: translateY(55px);
}

.btn::before {
  position: absolute;
  top: 20px;
  right: 35px;
  content: "";
  background-image: url(./image/heart.png);
  background-size: contain;
  width: 30px;
  height: 30px;
  transition: transform 300ms ease;
  transform: translateY(-55px);
}

.btn:hover::before {
  transform: translateY(-1px);
}

/* ШАРИ */
.circle-container {
  border: 2px dashed #2a2a2a;
  border-radius: 4px;
  padding: 10px;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  transform: translatex(0);
  transition-property: transform;
  transition-duration: 2000ms;
}

.circle:not(:last-child) {
  margin-bottom: 5px;
}

.container:hover .circle {
  transform: translatex(calc(100vw - 86px));
}

.circle:nth-child(1) {
  background-color: #f44336;
  transition-timing-function: linear;
}

.circle:nth-child(2) {
  background-color: #5e71df;
  transition-timing-function: ease;
}

.circle:nth-child(3) {
  background-color: #e6b52d;
  transition-timing-function: ease-in;
}

.container{
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
padding-left: 16px;
padding-right: 16px;

}
/* <!-- -----------***| FoodSta  |***---------- --> */
.container{
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
padding-left: 16px;
padding-right: 16px;

@media screen and (min-width:768px) {
  width: 768px;
}
}
h1,
h2,
h3,
p,
ul{margin: 0;
padding: 0;}

li{list-style: none;}


/* Hero */
.hero{
  padding-top: 14px;
}

.hero__container{
   display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 137px;
}

.hero__title--wrap{ 
width: 503px;
margin: 0;
}

.hero__title{
  font-weight: 700;
font-size: 48px;
line-height: 1.2;
margin-bottom: 28px;
color: #2C2C2C; 
}


.hero__text{
  font-weight: 400;
font-size: 16px;
line-height: 1.5;
margin-bottom: 40px;
color: #2C2C2C;  
}

.hero__btn{padding: 5px 17px;
font-weight: 400;
font-size: 14px;
line-height: 1.5;
border-radius: 30px;
border: none;
color: #2C2C2C;  
background-color: #BBF330;
cursor: pointer;
}


.hero__img--wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 580px;
  height: 580px;
  margin-left: 14px;
  background-color: #FEFEFE;
border: 26px solid #FFE550;
}

.hero__img--wrap:hover,
.hero__img--wrap:focus,
.hero__img--wrap:active
{
     border: 26px solid #BBF330;
  }
/* Offerings */
.offerings{
  padding-top: 260px;
      padding-bottom: 131px;
  background-image: url(./image/foodsta/offerings_background_D.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -130px;
}

.offerings__container{
  display: flex;
  align-items: center;
  gap: 90px;
}

.img__border{
  width: 550px;
height: 550px;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.img{
  margin-bottom: 80px;
}


.img__background{
  border-radius: 50%;
  border: none;
  width: 502px;
  height: 502px;
  background-color: #FFFFFF;
    display: flex;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(50% 50% at 50% 50%, #2F583F 0%, rgba(105, 105, 105, 0) 100%);
background-position: bottom center;
background-size: 252px 87px;
background-repeat: no-repeat;
}

.offerings__title--wrap{text-align: start;
width: 573px;
margin-right: 35px;}

.offerings__title{
  font-weight: 700;
font-size: 42px;
line-height: 1.2;
margin-bottom: 20px;
color: #2C2C2C;
}

.offerings__text{font-weight: 400;
font-size: 16px;
line-height: 1.5;
margin-bottom: 40px;
color: #2C2C2C;}

.offerings__list{display: flex;
gap: 67px;
margin: 0;
padding: 0;
margin-bottom: 32px;}

.offerings__item{
  display: flex;
  flex-direction: column;

}

.offerings__item__icon--bg{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #FFFFFF;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offerings__item__title{
  font-weight: 700;
font-size: 17.0833px;
line-height: 1.4;
margin-bottom: 16px;
color: #2C2C2C;
}

.offerings__item__text{
  font-weight: 400;
font-size: 14px;
line-height: 1.5;
color: #2C2C2C;
}

.offerings__btn{
  padding: 10px 20px;
  font-weight: 400;
font-size: 14px;
line-height: 1.5;
color: #2C2C2C;
background-color: #FFFFFF;
border: 2px solid #7EB101;
border-radius: 30px;
cursor: pointer;
}